# Virtual Environment
myenv/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/media/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.DS_Store
