asgiref==3.9.1
boto3==1.40.6
botocore==1.40.6
Django==5.2.6
django-storages==1.14.6
echo==0.11.0
gunicorn==23.0.0
jmespath==1.0.1
numpy==2.3.2
pillow==11.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
s3transfer==0.13.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.8.2
